#toolbar-container .ql-font span[data-label="Sans Serif"]::before {
  font-family: "Sans Serif";
}

#toolbar-container .ql-font span[data-label="Inconsolata"]::before {
  font-family: "Inconsolata";
}

#toolbar-container .ql-font span[data-label="Roboto"]::before {
  font-family: "Roboto";
}

#toolbar-container .ql-font span[data-label="Mirza"]::before {
  font-family: "Mirza";
}

#toolbar-container .ql-font span[data-label="Arial"]::before {
  font-family: "Arial";
}

#toolbar-container .ql-font span[data-label="Georgia"]::before {
  font-family: "Georgia";
}

#toolbar-container .ql-font span[data-label="Tahoma"]::before {
  font-family: "Tahoma";
}

#toolbar-container .ql-font span[data-label="Verdana"]::before {
  font-family: "Verdana";
}

#toolbar-container .ql-font span[data-label="Trebuchet MS"]::before {
  font-family: "Trebuchet MS";
}

#toolbar-container .ql-font span[data-label="Times New Roman"]::before {
  font-family: "Times New Roman";
}

#toolbar-container .ql-font span[data-label="lato-regular"]::before {
  font-family: "lato-regular";
}

/* Set content font-families */

.ql-font-inconsolata {
  font-family: "Inconsolata";
}

.ql-font-roboto {
  font-family: "roboto";
}

.ql-font-mirza {
  font-family: "Mirza";
}

.ql-font-arial {
  font-family: "Arial";
}

.ql-font-georgia {
  font-family: Georgia;
}

.ql-font-tahoma {
  font-family: "Tahoma";
}

.ql-font-verdana {
  font-family: Verdana;
}

.ql-font-trebuchet {
  font-family: "Trebuchet MS";
}

.ql-font-times-new-roman {
  font-family: "Times New Roman";
}

.ql-font-lato-regular {
  font-family: lato-regular;
}

.ql-font-indie {
  font-family: indie;
}

#editor-container {
  border: 1px solid #ccc;
  font-family: "Open Sans", Helvetica, sans-serif;
  font-size: 1.2em;
  height: 200px;
  margin: 0 auto;
  width: 450px;
}

#toolbar-container
  [class*="ql-"]:not(.ql-picker-options):not(.ql-picker-label):not(.ql-font):not(.ql-picker-item):not(.ql-size):hover {
  background-color: palegreen;
}

.ql-picker-options {
  border-color: #ffffff !important;
  border-radius: 5px !important;
  outline: none !important;
}
.ql-snow .ql-picker.ql-font {
  width: 134px !important;
}

.ql-toolbar.ql-snow .ql-picker.ql-expanded .ql-picker-label {
  border-color: #ffffff !important;
  outline: none;
}

.ql-picker-item:hover {
  background-color: rgb(248, 248, 248);
  font-size: 17px;
  -webkit-transition-duration: 0.18s;
  transition-duration: 0.18s;
  -webkit-transition-property: background-color, border, -webkit-transform;
  transition-property: background-color, border, transform;
  -webkit-transition-timing-function: ease-in-out;
  transition-timing-function: ease-in-out;
}

.ql-picker-options {
  padding-left: 2px !important;
  padding-right: 2px !important;
}

.ql-snow #ql-picker-options-2 .ql-picker-item {
  padding-left: 5px;
  border-radius: 10px;
  width: 134px !important;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

#toolbar-container {
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  outline: 0;
  -webkit-box-shadow: 2px -3px 7px -1px rgba(237, 230, 237, 1);
  -moz-box-shadow: 2px -3px 7px -1px rgba(237, 230, 237, 1);
  box-shadow: 2px -3px 7px -1px rgba(237, 230, 237, 1);
}

#toolbar-container:hover {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
