<h2>Quill</h2>
<!-- <quill-editor ></quill-editor> -->
<quill-editor [style]="{height: '350px'}" placeholder="Add your stuff here">
  <div quill-editor-toolbar id="toolbar-container">
    <span class="ql-formats">
      <button class="ql-bold"></button>
      <button class="ql-italic"></button>
      <button class="ql-underline"></button>
      <button class="ql-strike"></button>
    </span>

    <span class="ql-formats">
      <select class="ql-color"></select>
      <select class="ql-background"></select>
    </span>

    <span class="ql-formats">
      <button class="ql-blockquote"></button>
      <button class="ql-code-block"></button>
    </span>

    <span class="ql-formats">
      <button class="ql-list" value="ordered"></button>
      <button class="ql-list" value="bullet"></button>
      <button class="ql-indent" value="-1"></button>
      <button class="ql-indent" value="+1"></button>
    </span>


    <span class="ql-formats">
      <select class="ql-font">
        <option selected>Sans Serif</option>
        <option value="arial">Arial</option>
        <option value="georgia">Georgia</option>
        <option value="inconsolata">Inconsolata</option>
        <option value="lato-regular">Lato</option>
        <option value="mirza">Mirza</option>
        <option value="roboto">Roboto</option>
        <option value="tahoma">Tahoma</option>
        <option value="trebuchet">Trebuchet</option>
        <option value="times-new-roman">Times New Roman</option>
        <option value="verdana">Verdana</option>
      </select>
      <select class="ql-size"></select>
    </span>

    <span class="ql-formats">
      <button class="ql-direction" value="rtl"></button>
      <select class="ql-align"></select>
    </span>
    <span class="ql-formats">
      <button class="ql-script" value="sub"></button>
      <button class="ql-script" value="super"></button>
    </span>
    <span class="ql-formats">
      <button class="ql-clean"></button>
    </span>

    <span class="ql-formats">
      <button class="ql-link"></button>
      <button class="ql-image"></button>
      <button class="ql-video"></button>
    </span>
  </div>
</quill-editor>