#toolbar-container .ql-font span[data-label="Sans Serif"]::before {
  font-family: "Sans Serif";
}

#toolbar-container .ql-font span[data-label="Inconsolata"]::before {
  font-family: "Inconsolata";
}

#toolbar-container .ql-font span[data-label="Roboto"]::before {
  font-family: "Roboto";
}

#toolbar-container .ql-font span[data-label="Mirza"]::before {
  font-family: "Mirza";
}

#toolbar-container .ql-font span[data-label="Arial"]::before {
  font-family: "Arial";
}

#toolbar-container .ql-font span[data-label="Georgia"]::before {
  font-family: "Georgia";
}

#toolbar-container .ql-font span[data-label="Tahoma"]::before {
  font-family: "Tahoma";
}

#toolbar-container .ql-font span[data-label="Verdana"]::before {
  font-family: "Verdana";
}

#toolbar-container .ql-font span[data-label="Trebuchet MS"]::before {
  font-family: "Trebuchet MS";
}

#toolbar-container .ql-font span[data-label="Times New Roman"]::before {
  font-family: "Times New Roman";
}

#toolbar-container .ql-font span[data-label="lato-regular"]::before {
  font-family: "lato-regular";
}

/* Set content font-families */

.ql-font-inconsolata {
  font-family: "Inconsolata";
}

.ql-font-roboto {
  font-family: "Roboto";
}

.ql-font-mirza {
  font-family: "Mirza";
}

.ql-font-arial {
  font-family: "Arial";
}

.ql-font-georgia {
  font-family: Georgia;
}

.ql-font-tahoma {
  font-family: "Tahoma";
}

.ql-font-verdana {
  font-family: Verdana;
}

.ql-font-trebuchet {
  font-family: "Trebuchet MS";
}

.ql-font-times-new-roman {
  font-family: "Times New Roman";
}

.ql-font-lato-regular {
  font-family: lato-regular;
}
